/* Inclusion des polices et définition des animations */
@font-face {
    font-family: 'Gudea';
    src: url('../Police/Gudea/subset-Gudea.woff2') format('woff2'),
        url('../Police/Gudea/subset-Gudea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Police/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../Police/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes slidein{
    from {
      margin-left: 100%; 
    }
  
    to {
      margin-left: 15%;
    }
}

@keyframes next1
{
    from{
        margin-left: 0%;
    }

    to{
        margin-left: -102.8%;
    }
}

@keyframes next2
{
    from{
        margin-left: -102.8%;
    }

    to{
        margin-left: -205.6%;
    }
}

@keyframes next3
{
    from{
        margin-left: -205.6%;
    }

    to{
        margin-left: 0%;
    }
}

@keyframes prev1
{
    from{
        margin-left: -102.8%;
    }
    
    to{
        margin-left: 0%;
    }
}

@keyframes prev2
{
    from{
        margin-left: -205.6%;
    }
    
    to{
        margin-left: -102.8%;
    }
}

@keyframes prev3
{
    from{
        margin-left: 0%;
    }
    
    to{
        margin-left: -205.6%;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes horizontalMove{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1200px;
    }
}

/* Modification du style des différents éléments */
body{
    margin: 0;
    font-family: 'Roboto';
}

/* Partie 1: Modification du style de la nav barre */
nav{
    height: 70px;
    background-color: #2274A5;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    font-family: 'Gudea';
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    text-shadow: 4px 4px 4px black;

    width: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    overflow: hidden; /*Utilisé pour éviter les bugs d'éffichages dut à l'animation */
}

nav a:hover{
    font-size: 1.7em;
}

/* Modification de largeur des liens afin d'éviter des bugs d'affichage des ombres */ 
#link-1{
    margin-left: 15%;
    animation: slidein 3s;
}

#linl-3{
    width: 14%;
}

#perso1{
    display: none;

    position: absolute;
    left: 23%;

    width: 60px;
    height: 70px;

    background: url(../img/Webp.net-resizeimage\ \(11\).png);
    background-position: 0 -975px;

    animation: horizontalMove 1s steps(10) infinite;
}

#perso2{
    display: none;

    position: absolute;
    left: 43%;

    width: 60px;
    height: 70px;

    background: url(../img/Webp.net-resizeimage\ \(11\).png);
    background-position: 0 -975px;

    animation: horizontalMove 1s steps(10) infinite;
}

#perso3{
    display: none;

    position: absolute;
    left: 63%;

    width: 60px;
    height: 70px;

    background: url(../img/Webp.net-resizeimage\ \(11\).png);
    background-position: 0 -975px;

    animation: horizontalMove 1s steps(10) infinite;
}

/* Caroussel */
#carousel{
    margin-top: 15%;
    margin-bottom: 15%;
}

/* Slideshow container */
#carousel-slideshow-container {
    width: 80%;
    height: 500px;

    position: relative;
    margin: auto;
    margin-top: 5%;

    border: 1px solid black;
}
  
/* Hide the images by default */
.mySlides {
    display: none;

    width: 100%;
    height: 500px;

    position: relative;
}

.item-title{
    position: absolute;
    top: -18%;
    right: 42%;

    font-size: 2.3em;
    color: #2274a5;
}

#item-1{
    height: 500px;

    background-image: url("../img/Webp.net-resizeimage\ \(6\).png");
    background-repeat: no-repeat;
    background-position: center;
}

#item-3{
    height: 500px;

    background-image: url("../img/firebase-logo.gif");
    background-repeat: no-repeat;
    background-position: center; 
}

/* Next & previous buttons */
.prev, .next{
    cursor: pointer;

    position: absolute;
    top: 50%;

    width: 2%;
    height: 27px;
    margin-top: -22px;
    padding: 16px;

    font-weight: bold;
    font-size: 18px;

    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

    user-select: none;

    background-color: orange;
}
/* Position the "next button" to the right */
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.text{
    color: #f2f2f2;
    font-size: 15px;

    padding: 8px 12px;

    position: absolute;
    bottom: 8px;

    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot{
    cursor: pointer;

    width: 15%;
    margin: 0 2px;

    background-color: #bbb;

    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}

/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#description-carousel-selector{
    display: flex;

    width: 50%;
    margin-top: 2%;
    margin-left: 25%;

    text-align: center;
}

#description-1{
    animation: fadeIn 1s linear;
}

#description-1, #description-3{
    font-size: 1.2em;
}

#project-carousel-selector{
    width: 100%;
    height: 160px;

    margin-bottom: 5%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.carousel-selector-item-container{
    display: flex;
}

.carousel-selector-item{
    width: 195px;
    height: 125px;

    margin-right: 30px;
}

.carousel-selector-item2{
    width: 295px;
    height: 125px;

    margin-right: 30px;
}

.carousel-selector-item:hover, .carousel-selector-item2:hover{
    transform: translateY(-30px);
    transition-duration: 1s;
}

#project-1{
    background-image: url("../img/city.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#project-2{
    background-image: url("../img/galaxy.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#project-3{
    background-image: url("../img/planete.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#project-4{
    background-image: url("../img/cake.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

#container-3{
    display: none;
}

#project-9{
    background-image: url("../img/authentification.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#project-10{
    background-image: url("../img/realtime-database.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#project-11{
    background-image: url("../img/storage.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#contact-section{
    padding-top: 2%;
    background-color: rgba(34, 116, 165, 0.7);
}

#contact-section h3, #contact-section h4{
    margin-left: 10%;

    font-family: 'Roboto';
    font-size: 1.8em;
    color: #FFFFFF;
}

#contact-section-title{
    margin-left: 8.5%;
}

#contact-information-container{
    margin-top: -2%;
    display: flex;
    font-size: 0.8em;
}

#social-media-container{
    width: 40%;
    margin-left: 7.8%;
    margin-right: 16%;
}
#social-media-title-container{
    display: flex;
    margin-top: -5%;
}

#social-media-title-container > h4 > a{
    color: #FFFFFF;
    text-decoration: none;
}