@media all and (max-width: 1333px){
    #profil-picture{
        height: 100px;
        width: 100px;
        position: relative;
        margin-top: 2%;
        margin-bottom: -8%;
        margin-right: auto;
    }

    #middle-article-text-container > h1{
        margin-bottom: -3%;
    }
}

@media all and (max-width: 971px){
    #middle-article-text-container{
        width: 65%;
        left: 17%;
        top: 35%;
    }
}

@media all and (max-width: 878px){
    nav a{
        font-size: 1em;
        text-shadow: 2px 2px 2px black;
        width: 12%;
    }
    nav a:nth-child(3){
        width: 18%;
    }

    aside > button{
        display: none;
    }

    #responsive-button-2{
        display: block;
    }
}

@media all and (max-width: 790px){
    #profil-picture{
        display: none;
    }
}