/* Inclusion des polices et définition des animations */
@font-face {
    font-family: 'Gudea';
    src: url('../Police/Gudea/subset-Gudea.woff2') format('woff2'),
        url('../Police/Gudea/subset-Gudea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Police/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../Police/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelmix';
    src: url('../Police/pixelmix/subset-pixelmix.woff2') format('woff2'),
        url('../Police/pixelmix/subset-pixelmix.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../Police/PT_Sans/subset-PTSans-BoldItalic.woff2') format('woff2'),
        url('../Police/PT_Sans/subset-PTSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@keyframes slidein1{
    from {
      margin-left: 100%; 
    }
  
    to {
      margin-left: 15%;
    }
}

@keyframes slidein2{
    from {
      margin-left: 100%; 
    }
  
    to {
      margin-left: 10%;
    }
}

@keyframes fadeIn{
    from {
      opacity: 0; 
    }
  
    to {
      opacity: 1;
    }
}

@keyframes fadeOut{
    from {
      opacity: 1; 
    }
  
    to {
      opacity: 0;
    }
}


@keyframes horizontalMove{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1200px;
    }
}

/* Modification du style des différents éléments */
body{
    margin: 0;
    font-family: 'Roboto';
}

/* Partie 1: Modification du style de la nav barre */
nav{
    height: 70px;
    background-color: #2274A5;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    font-family: 'Gudea';
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    text-shadow: 4px 4px 4px black;

    width: 10%;
    margin-right: 10%;
    overflow: hidden; /*Utilisé pour éviter les bugs d'éffichages dut à l'animation */
}

nav a:hover{
    font-size: 1.7em;
}

/* Modification de largeur des liens afin d'éviter des bugs d'affichage des ombres */ 
#link-1{
    margin-left: 15%;
    animation: slidein1 3s;
}

#link-3{
    width: 14%;
}

#perso3{
    display: none;

    position: absolute;
    left: 21%;

    width: 60px;
    height: 70px;

    background: url(../img/Webp.net-resizeimage\ \(11\).png);
    background-position: 0 -975px;

    animation: horizontalMove 1s steps(10) infinite;
}

#perso4{
    display: none;

    position: absolute;
    left: 41%;

    width: 60px;
    height: 70px;

    background: url(../img/Webp.net-resizeimage\ \(11\).png);
    background-position: 0 -975px;

    animation: horizontalMove 1s steps(10) infinite;
}

#perso5{
    display: none;

    position: absolute;
    left: 61%;

    width: 60px;
    height: 70px;

    background: url(../img/Webp.net-resizeimage\ \(11\).png);
    background-position: 0 -975px;

    animation: horizontalMove 1s steps(10) infinite;
}

#responsive-button-2{
    display: none;
}

.lazy-load
{
    opacity: 0;
    transition: opacity 0.5s;
    will-change: opacity;
}

.lazy-load.loaded
{
    opacity: 1;
}

.reveal
{
    transform: translateY(15vh);
    opacity: 0;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: tranform, opacity;
}

.reveal.revealed
{
    transform: translateY(0vh);
    opacity: 1;
}

/*Section profil */
#top-section{
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    background-color: rgba(34, 116, 165, 0.4);

    text-align: left;
    overflow: hidden;
}

#competence-container{
    display: flex;
    width: 41%;
    margin-bottom: 2%;
    margin-left: 32%;

    background-color: rgba(0, 0, 0, 0.9);

    border: 2px solid white;
}

#perso1{
    margin-top: 20%;
    width: 120px;
    height: 130px;
    background: url(../img/zelda.png);
    background-position: 0 -530px;
    animation: horizontalMove 1s steps(10) infinite;
}

#competence-container > ul{
    width: 80%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 7%;
    padding-bottom: 7%;

    list-style-type: none;
    text-align: left;
    font-family: 'pixelmix';
    font-size: 1.4em;
    color: white;
    
    border: 2px solid white;
}

ul > li:nth-child(7){
    margin-bottom: 10%;
}

ul > li:nth-child(8){
    margin-bottom: 10%;
}

/*Partie 2: Section formation */
#middle-section{
    overflow: hidden;
}

h3, h4{
    margin-left: 10%;

    font-family: 'Roboto';
    font-size: 1.8em;
    color: #2274A5;
}

.history-item > h4{
    margin-left: 10%;

    font-family: 'PT Sans';
    font-size: 1.8em;
    color: #2274A5;
}

#date-title-container{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#date-title-container > h4{
    margin-top: 0%;
    margin-bottom: 3%;
}

#date-title-container > h4:nth-child(1){
    margin-left: 4%;
}

#date-title-container > h4:nth-child(2){
    margin-right: 4%;
}

#arrow-container{
    display: flex;
    justify-content: space-between;
}

#arrow-container > div{
    font-size: 2em;
    margin-top: -2%;
    color: #2274A5;
}

#arrow-container > div:nth-child(1){
    margin-left: 6%;
}

#arrow-container > div:nth-child(2){
    margin-right: 6%;
}

#perso2{
    margin-top: 2%;
    margin-left: 2%; 
    width: 120px;
    height: 130px;
    background: url(../img/zelda.png);
    background-position: 0 -920px;
    animation: horizontalMove 1s steps(10) infinite;
}


#date-chronologie-container{
    display: flex;
}

#date-chronologie-container > h4{
    margin-bottom: -2%;
    margin-right: 15.7%;

    font-family: 'Roboto';
    font-size: 1em;
    color: #FF4422;
}

#date-chronologie-container > h4:nth-child(1){
    margin-left: 6%;
}

#canvas{
    width: 100%;
}

#history-item-container{
    display: flex;
    position: relative;
}

.history-item{
    width: 20%;
    text-align: center;
    font-size: 1em;
}

.history-item:nth-child(1){
    margin-top: -2%;
    margin-left: 6%;
}

.history-item:nth-child(2){
    margin-top: -2%;
    margin-left: 15.5%;
}

.history-item:nth-child(3){
    margin-top: -2%;
    margin-left: 2%;
}

.history-item > h3{
    margin-left: 0%;
}

.history-item > h4:nth-child(1){
    margin-top: 0%;
    margin-bottom: -10%;
    color: #FF4422;
}

.history-item > h4{
    font-size: 1.2em;
}

.history-item > p{
    margin-top: -5%;
    margin-left: 13%;
    font-size: 0.8em;
}

/*Section centres d'interet*/
#bottom-section{
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    background-color: rgba(34, 116, 165, 0.4);
}

#bottom-section-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-section-img{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.bottom-section-img > img:hover{
    transform: translateY(-30px);
    transition-duration: 1s;
}

#responsive-img-1{
    display: none;
}

#responsive-img-2{
    display: none;
}

#responsive-img-3{
    display: none;
}

#responsive2-img-1{
    display: none;
}

#responsive2-img-2{
    display: none;
}

#responsive2-img-3{
    display: none;
}

.bottom-section-img > h4{
    font-size: 1.3em;
    font-family: 'pixelmix';
}

#bottom-section-img-container > .bottom-section-img:nth-child(1) > h4{
    margin-right: 17%;
}

#bottom-section-img-container > .bottom-section-img:nth-child(2) > h4{
    margin-right: 11%;
}

#bottom-section-img-container > .bottom-section-img:nth-child(3) > h4{
    margin-right: 9%;
}

#text-container-1, #text-container-2, #text-container-3{
    position: relative;

    width: 90%;
    padding: 3%;

    display: none;
    opacity: 0;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.7);
    border: 6px solid #2274A5;
    border-radius: 10px;
}

.close-logo{
    position: absolute;
    left: 96%;
    top: -11%;

    border-radius: 50%;
    background-color: white;
}

#contact-section-title{
    margin-left: 8.5%;
}

#contact-information-container{
    margin-top: -2%;
    display: flex;
    font-size: 0.8em;
}

#social-media-container{
    width: 40%;
    margin-left: 7.8%;
    margin-right: 16%;
}
#social-media-title-container{
    display: flex;
    margin-top: -5%;
}

#social-media-title-container > h4 > a{
    color: #2274A5;
    text-decoration: none;
}